# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib



# Test binary, built with `go test -c`
*.test


#Rest Client
*.http

# Environment File

.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/
.env
*.http
=======
*.http
*.idea
*.idea/
